/* MAIN CONTENT STYLING */
.main-content {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

/* PAGE TITLE */
.problem-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #39ff14;
}

/* PDF WRAPPER */
.pdf-wrapper {
    width: 90%;
    max-width: 1000px;
    height: 80vh;
    border: 2px solid #39ff14;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(57,255,20,0.3);
}

/* EMBEDDED PDF FRAME */
.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;
}


.pdf-wrapper.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    z-index: 9999;
}

.Webpage-btn {
    display: block;         
    width: 90%;        
    text-align: center;
    
    margin-top: 20px;
    padding: 12px 0;
    border-radius: 6px;

    border: 2px solid #39ff14;
    color: #39ff14;
    text-decoration: none;
    font-weight: bold;

    transition: 0.2s ease;
}
.Webpage-btn:hover {
    background-color: #39ff14;
    color: #000;
    box-shadow: 0 0 10px #39ff14;
}

